<<<<<<< HEAD
/*etiqueta normal = nada 
etiqueta universal = *
etiqueta id = #
etiqueta class= .
*/
=======
/*
etiqueta normal = nada
etiqueta universal = *
etiqueta de id = #
etiqueta de class = .
*/

>>>>>>> f913a11 (Mi primer commit)
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
<<<<<<< HEAD
    background: rgb(186, 236, 186);
}

#container{
    width: 800px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid black;
    background: rgb(210, 186, 233);
}

#Header{
    height: 145px;
    background-color: aliceblue;
}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}
=======
    background-color: lightgrey;
}

#container{
    width: 80%;
    margin: 0% auto;
    box-shadow: 0px 0px 10px gray;
    border: 1px solid black;
    background: white;
}

#header{
    height: 145px;
    background: #f0f0f0;
}

#logo {
    padding: 10px;
    margin-left: 10px;
    float: left;
}

>>>>>>> f913a11 (Mi primer commit)
#logo img{
    float: left;
    height: 100px;
}

<<<<<<< HEAD
#menu {
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #018101;
=======
#menu{
    clear: both;
    background: #dd8f8f;
    color: white;
    height: 60px;
    border-bottom: 4px solid #01b1ea;
>>>>>>> f913a11 (Mi primer commit)
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
<<<<<<< HEAD
    border-right: 1px solid #363636;
=======
    border-right: 1px solid#363636;
>>>>>>> f913a11 (Mi primer commit)
}

#menu a{
    display: block;
<<<<<<< HEAD
    color: rgb(233, 179, 179);
=======
    color: rgba(63, 6, 63, 0.534);
>>>>>>> f913a11 (Mi primer commit)
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}

#menu a:hover{
<<<<<<< HEAD
    background: #01b1ea;
}

/*content*/ 

#content{
    width: 20%;
    min-height: 650px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(236, 187, 187);
=======
    background-color: blue;
    
}

#content{
    margin: 0px auto;
    overflow: hidden;
    background-color: white;
}

#lateral{
    width: 15%;
    min-height: 550px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;

>>>>>>> f913a11 (Mi primer commit)
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
<<<<<<< HEAD
    border: 1px solid rgb(114, 114, 233);
}

#lateral h3 {
    display: block; 
    color: #222;
    width: 100px;
    text-align: center;
=======
    border: 1px solid blue  ;
}

#lateral h3{
    display: block;
    color: #222;
    width: center;
    text-align: center;
    padding-top: 2px;
>>>>>>> f913a11 (Mi primer commit)
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
<<<<<<< HEAD
    background: rgb(197, 197, 236);
    border: 2px solid rgb(231, 173, 173);
=======
    background: #e1e1e1;
    border: 2px solid #01e1EA;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 0px #CCC inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
    border: 1px solid purple;
    color: black;
}

input[type="button"],
input[type="submit"],
.button {
    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979cd;
    border: 1px solid #11608E;
    cursor: pointer;
}
.button{
    background: rgb(224, 177, 169);
    color: white ;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

#central{
    width: 80%;
    min-height: 550px;
    float: right;
    border-left: 1px solid #CCC;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1{
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}

.product{
    width: 30%;
    border: 1px solid red;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.product img{
    height: 150px;
    width: 100px;
    margin-bottom: 10px;
}

.product h2{
    font-size: 18px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    counter-reset: #555;
    margin-bottom: 10px;
}

.product a {
    color: black;
    text-decoration: none;
}

.product a:hover{
    color: #555;
}

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background: #222;
    color: white;
    border-top: 5px solid #01b1ea;
>>>>>>> f913a11 (Mi primer commit)
}
